:root {
  --menu-color: rgba(220, 220, 220, 0.6);
  --bg-color: rgb(245,245,245);
  --txt-color: #444;
}

[data-theme="dark"] {
  --menu-color: rgba(34, 34, 34, 0.7);
  --bg-color: #111;
  --txt-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
  --menu-color: rgba(34, 34, 34, 0.7);
  --bg-color: #111;
  --txt-color: #fff;
  }

  [data-theme="light"] {
  --menu-color: rgba(220, 220, 220, 0.6);
  --bg-color: rgb(245,245,245);
  --txt-color: #444;
  }
}

/*Menu*/
*{
  margin: 0px;
  padding: 0px;
  font-family: Avenir, sans-serif;
}

/*Slider theme*/
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  z-index: 4;
}

.theme-switch-wrapper {
display: flex;
align-items: center;
position: fixed; top: -18px; right: 72%;
}
.theme-switch {
display: inline-block;
height: 34px;
width: 60px;
position: relative;
}

.slider {
background-color:lightblue;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
border-radius: 35px;
cursor: pointer;
transition: 0.4s;
}
.slider::before {
content: "";
position: absolute;
bottom: 3px;
left: 3px;
background-color: #fff;
width: 27px;
height: 27px;
transition: 0.4s;
border-radius: 50%;
}
.switcher{
position:absolute;
display:block;
top:70px;
right:50px;
width:45px;
height:30px;
background: #fff;
box-shadow:0 3px 6px #00000029;
border-radius:31px;
}

input:checked + .slider {
background-color: #555;
}
input:checked + .slider::before {
transform: translateX(26px);
}
label > input[type="checkbox"] {
display: none;
}

em{
color: var(--txt-color);
}

/*Site*/
html{
background-color: var(--bg-color);
transition: all .2s ease;
}
a{
text-decoration: none;
color: var(--txt-color);
}

/*Scrollbar*/
/*Firefox*/
* {
scrollbar-width: thin;
scrollbar-color: #eee #666;
}

/*Chrome, Edge, Safari*/
*::-webkit-scrollbar{
width: 8px;
height: 0px;
}
*::-webkit-scrollbar-track {
background: var(--menu-color);
border-radius: 30px;
}
*::-webkit-scrollbar-thumb {
background: var(--txt-color);
border-radius: 30px;
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(115deg,#ffa600 20%, #f003d0 100%);
}
